.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px !important;
    font-size: 15px !important;
}

.movieTitle {
    color: darkblue;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 25px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100rem;
    // margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    font-size: 18px;
}

th {
    background-color: white;
    font-weight: bold;
    font-size: 22px;
}

.detailsLink {
    color: blue;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.detailsLink:hover::before {
    content: "Click for more details";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

// filter 
.search-container {
    margin-bottom: 20px;
}

label {
    margin-right: 2px;
    font-size: 20px;
    line-height: 1rem;
}

input {
    width: 8rem;
    line-height: 1.5rem;
    margin-right: 1rem;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1rem;
}

//dropdown
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid gray;
    padding: 0.5rem;
    width: 8rem;
    line-height: 1rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
}

select option {
    background-color: white;
    color: gray;
    font-size: 16px;
    line-height: 1.5rem;
}

select option:checked {
    background-color: gray;
    color: white;
}


p {
    margin: 0.5rem 0rem;
    font-size: 20px;
    font-family: Arial, sans-serif;
}


.spinner {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }